@{
    ViewData["Title"] = "Quotes";
}

@model List<Quote>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>ID</td>
            <td>Quote</td>
            <td>Author</td>
            <td>Date</td>
            <td>Subject</td>
            <td>Citation</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Quote q in Model)
            {
                <tr>
                    <td>@q.QuoteID</td>
                    <td>@q.QuoteText</td>
                    <td>@q.Author</td>
                    <td>@q.Date</td>
                    <td>@q.Subject</td>
                    <td>@q.Citation</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@q.QuoteID">Edit</a></td>
                    <td><a class="text-danger" asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@q.QuoteID">Delete</a></td>
                </tr>
            }

    </tbody>

</table>
